<%- include('../partials/header') %>

<!-- <body> -->

<% if (errorMessage && errorMessage.length > 0) { %>
	<div class="alert alert-danger container">
		<%= errorMessage %>
	</div>
<% } %>

<form action="/contacts"  method="POST" class="container">
   <div class="form-group row col-6">
	    <label for="name" class="col-sm-2 col-form-label">Nombre</label>
	    <div class="col-sm-10">
	      <input id="name" type="text" name="contact[name]" class="form-control" placeholder="Nombre" required>
	    </div>
  </div>
  	<div class="form-group row col-6">
	    <label for="lastname" class="col-sm-2 col-form-label">Apellido</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="lastname" name="contact[lastname]" placeholder="Apellido" required>
	    </div>
  	</div>
	<div class="form-group row col-6">
	    <label for="number" class="col-sm-2 col-form-label">Numero</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="number" name="contact[number]" placeholder="Número" required>
	    </div>
  	</div>
  	<div class="form-group row col-6">
	    <label for="email" class="col-sm-2 col-form-label">e-Mail</label>
	    <div class="col-sm-10">
	      <input type="email" class="form-control" id="email" name="contact[email]" placeholder="user@mail.com" required>
	    </div>
  	</div>
  	<div class="form-group row col-6">
	    <label for="group" class="col-sm-2 col-form-label">Grupo</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="group" name="contact[group]" placeholder="Group" required>
	    </div>
  	</div>
  	<input type="submit" value="Guardar" class="btn btn-info">
</form>

<!-- </body> -->
<!-- </html> --> 